.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  width: 80%;
  margin: 10px auto;
  border-collapse: collapse;
  border-top: 2px solid #8d8d8d;
  text-align: center;
}
th {
  padding: 10px 8px; /*padding: vertical horizontal;*/
  background: #f9f9f9;
  color: #666;
  border-bottom: 1px solid #8d8d8d;
}

td {
  padding: 10px 8px; /*padding: vertical horizontal;*/
  text-align: center;
  line-height: 1.25em;
  color: #666;
  border-bottom: 1px solid #8d8d8d;
}

tr.bor-tr:hover {
  background-color: #ccc;
}
